@font-face {
    font-family: 'Samsung Sharp Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Regular'), url('../../assets/fonts/samsungsharpsans.woff') format('woff');
}


@font-face {
    font-family: 'Samsung Sharp Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Medium'), url('../../assets/fonts/samsungsharpsans-medium.woff') format('woff');
}


@font-face {
    font-family: 'Samsung Sharp Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Bold'), url('../../assets/fonts/samsungsharpsans-bold.woff') format('woff');
}
body{
    background-color: #121561;
}
.title-bar{
    position: relative;
}
.title{
    font-family: 'Samsung Sharp Sans Medium';
    color: #95fbf4;
    text-align: center;
    margin: 0%;
}
.top-division{
    border: 2px solid #ffff00;
}
.buttons-container{
    text-align: center;
    position: relative;
}
.offline{
    font-family: 'Samsung Sharp Sans Bold';
    background-color: #95fbf4;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    margin-right: 250px;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    height: 70px;
}
.microsoft {
    font-family: 'Samsung Sharp Sans Bold';
    background-color: #95fbf4;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    width: 200px;
    height: 70px;
}
.bedrock-icon{
    width: 125px;
    height: 125px;
    margin-left: 257px;
}
.microsoft-icon {
    width: 125px;
    height: 125px;
    margin-left: 325px;
}